*{
    margin: 0px;
}

.container{
    display: contents;
    color: rgb(72, 28, 112);

}

.upper-div{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 10px 0px 10px 20px;
}

.container .upper-div-content{
    width: 70%;
    padding: 10px 10px 10px 100px;
    box-shadow: 90px 0px 0px rgb(72, 28, 112) inset;
}
h1{
    font-weight: 900;
    font-size: 5rem;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-style: italic;
    margin: 0px 0px 25px 0px;
}

.container .upper-div-img{
    width: 50%;
    height: 10%;
}

#shop-now{
    padding: 10px 10px 10px 10px;
    border: 2px solid rgb(72, 28, 112);
    border-radius: 20px;
    color:white;
    text-align: center;
    background-color: rgb(72, 28, 112);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
}

a{
    text-decoration: none;
}


.lower-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 200px 10px 200px;
    border: 30px solid black;
    
}
.container .lower-div-content{
    width: 70%;
    padding: 10px 10px 10px 100px;
}


.container .lower-div-img{
    width: 50%;
    height: 10%;
}

h2{
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

#explore-now{
    padding: 10px 10px 10px 10px;
    border: 2px solid rgb(72, 28, 112);
    /* border-radius: 20px; */
    color: rgb(72, 28, 112);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    
}